@charset "UTF-8";
/* CSS Document */

/*Body*/
body {
	font-family: 'Poppins', sans-serif;
}
/*Container*/
.container {
    font-family: 'Quicksand', sans-serif;
    box-shadow: 0 0 5px 0 rgba(105,105,105,0.20), 0 5px 5px 0 rgba(96,96,96,0.24);
}

/*Logo*/
.logo img {
	width: 8%;
	height: auto;
	margin: 3% 0 3% 0;
}
/*Navigation*/
/*Placering af navigation*/
.navbar {
	margin: auto;
	max-width: 50%;
}
.navspace {
	margin: 0 5% 0 5%;
}
/*styling af navigation*/
.navstyle a {
	color: black;
	letter-spacing: 3px;
	font-weight: 500;
	font-size: 1.25rem;
}

/*striber*/
hr.sort{
  border-top: 6px dashed black;
  border-bottom: 6px dashed black;
  width: 70%;
}

/*GIF*/
.minGif img{
	margin: 5% 0 5% 0;
	width: 50%;
	height: auto;
}
/*Tekst på forsiden*/
.forsideTekst{
	max-width: 40%;
	padding: 1% 0 0 0;
	margin: auto;
	/*text-align: left;*/
	line-height: 200%;
}
/*Nyeste projekter*/
.nyeste h3{
	background: #b7d0ed;
	width: 70%;
	margin: auto;
	padding: 3% 0 3% 0;	
	letter-spacing: 3px;
}

/*Generalt projekter*/
h3 {
	letter-spacing: 3px;
}
h5 {
	letter-spacing: 3px;
}
p {
	line-height: 200%;
}
.placering{
	margin: 3% 0 0 0;
	padding: 0 0 3% 0;
}
.program {
	width: 10%;
	margin: 0 0 0 1%;
}
/*Projekt til venstre*/
.placeringV{
	margin: 0 0 0 14.5%;
}
.placeringVimage img {
	width: 115%;
}

/*Projekt til højre*/
.placeringH{
	margin: 0 14.5% 0;
}
.placeringHimage img {
	width: 100%;
	margin: 0 0 0 45%;
}

/*Stregerne*/
.gul {
  border: 3px solid #e19f29;
  width: 40%;
  margin: 0 60% 2% 0;
}
.blaa {
  border: 3px solid #3576a3;
  width: 40%;
  margin: 0 60% 2% 0;
}
.pink {
  border: 3px solid #e2b0d1;
  width: 40%;
  margin: 0 60% 2% 0;
}


/*Tablet*/
@media only screen and (max-width: 768px){
	
}
/*Mobile*/
@media only screen and (max-width: 375px){
	/*Logo*/
	.logo img {
		width: 20%;
	}
	.shownav {
		display: none;
	}
}